.wrapper {
    width: 100%;
    height: 100%;
    margin: 12px 0;
    background-color: transparent;
    position: relative;
}

.container {
    max-height: 586px;
    min-width: 1094px;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    padding: 16px 20px;
    box-shadow: 0 1px 33px rgb(0 0 0 / 15%);
    border-top: 12px solid var(--white-color);
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 110px;
        height: 110px;
        border-left: 3px solid var(--primary-color);
        border-top: 3px solid var(--primary-color);
    }
}

// custom scrolbar
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

// tablet

@media (min-width: 740px) and (max-width: 991px) {
    .container {
        background-color: var(--white-color);
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: var(--heigh-header-small);
        overflow: auto;
        box-shadow: 0 1px 33px rgb(0 0 0 / 15%);
        &::before {
            display: none;
        }
    }
}

// mobile

@media (max-width: 740px) {
    .container {
        background-color: var(--white-color);
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: var(--heigh-header-small);
        overflow: auto;
        box-shadow: 0 1px 33px rgb(0 0 0 / 15%);
        &::before {
            display: none;
        }
    }
}
