.wrapper {
    width: 25%;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.img {
    width: 66px;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.desc {
    font-size: 1.4rem;
    color: #444;
}
