// header
.header {
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.section {
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
}

.name {
    display: block;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
    color: #eee;
}

.slogan {
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--white-color);
    left: 50%;
    padding: 0 8px;
    text-align: right;
}
